<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Electron Sandbox</title>
    <!--<script src="../node_modules/angular/angular.min.js"></script>-->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="electron-sandbox.css">
    <!--import libraries node style-->
    <script>
        var angular = require('angular');
        var angular_animate = require('angular-animate');
        var angular_aria = require('angular-aria');
        var angular_material = require('angular-material')
    </script>
</head>
<body ng-app="electronsandbox.main" ng-controller="electronsandbox.main.ctrl as ctrl" layout="column" ng-cloak>

    
<script src="app.js"></script>
</body>
</html>