<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Electron Sandbox</title>
    <!--<script src="../node_modules/angular/angular.min.js"></script>-->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="electron-sandbox.css">
    <!--import libraries from node_modules node style-->
    <script>
        var angular = require('angular');
        var angular_animate = require('angular-animate');
        var angular_aria = require('angular-aria');
        var angular_material = require('angular-material')
    </script>
</head>
<body ng-app="electronsandbox.main" ng-controller="electronsandbox.main.ctrl as ctrl" layout="column" ng-cloak>

    <md-toolbar class="electronsandbox-toolbar">
        <div layout="row">
            <div>
                <md-icon class="material-icons md-36">face</md-icon>
                <md-icon class="material-icons md-18">face</md-icon>
            </div>
        </div>
    </md-toolbar>

    <div layout="row" flex>
        <md-sidenav style="background-color: lightblue" md-is-locked-open="true"></md-sidenav>
        <md-content style="background-color: lightgrey" flex></md-content>
    </div>

<script src="app.js"></script>
</body>
</html>