<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Electron Sandbox</title>
    <!--<script src="../node_modules/angular/angular.min.js"></script>-->
    <script>
        var angular = require('angular');
    </script>
</head>
<body ng-app="electronsandbox.main" ng-controller="electronsandbox.main.ctrl as ctrl">
<h1>Electron Sandbox</h1>

We are using node <script>document.write(process.versions.node)</script>,
Chrome <script>document.write(process.versions.chrome)</script>,
and Electron <script>document.write(process.versions.electron)</script>.
<br>
<h1>{{ctrl.activeText}}</h1>
<script src="app.js"></script>
</body>
</html>